footer {
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.attribution {
  font-size: 24px;
  padding-top: 1.5em;
  color: orangered;
  -webkit-text-stroke-width: 0.55px;
  -webkit-text-stroke-color: #070707;
}
