.main {
  background-color: #faf0f0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 100%;

  overflow: hidden;
}
.formulario {
  background-color: orangered;
  padding: 15px;
  font-size: 24px;
  text-align: center;
  color: black;
  -webkit-text-stroke-width: 0.25px;
  -webkit-text-stroke-color: #f7decf;
}
.form {
  padding: 10px;
}
.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}
.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}
.form-control input {
  border: 2px solid white;
  display: block;
  border-radius: 10px;
  font-size: 16px;
  width: 95%;
  padding: 10px;
}
.form-control i {
  position: absolute;
  top: 45px;
  right: 10px;
  visibility: hidden;
}
.form-control small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}
form button {
  background-color: orangered;
  border: 2px solid orangered;
  color: black;
  font-size: 16px;
  border-radius: 10px;
  width: 50%;
  margin-left: 25%;
  cursor: pointer;
}
/* error and success*/

.form-control.success input {
  border-color: rgb(10, 252, 10);
}
.form-control.error input {
  border-color: red;
}
.form-control.success i.fa-square-check {
  border-color: rgb(10, 252, 10);
  visibility: visible;
}
.form-control.error i.fa-triangle-exclamation {
  border-color: red;
  visibility: visible;
}
.form-control.error small {
  border-color: red;
  visibility: visible;
}
